# Lab | Pandas

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

The data includes information such as customer ID, state, gender, education, income, and other variables that can be used to perform various analyses.

Throughout the lab, we will be using the pandas library in Python to manipulate and analyze the data. Pandas is a powerful library that provides various data manipulation and analysis tools, including the ability to load and manipulate data from a variety of sources, including CSV files.

### Data Description

- Customer - Customer ID

- ST - State where customers live

- Gender - Gender of the customer

- Education - Background education of customers 

- Customer Lifetime Value - Customer lifetime value(CLV) is the total revenue the client will derive from their entire relationship with a customer. In other words, is the predicted or calculated value of a customer over their entire duration as a policyholder with the insurance company. It is an estimation of the net profit that the insurance company expects to generate from a customer throughout their relationship with the company. Customer Lifetime Value takes into account factors such as the duration of the customer's policy, premium payments, claim history, renewal likelihood, and potential additional services or products the customer may purchase. It helps insurers assess the long-term profitability and value associated with retaining a particular customer.

- Income - Customers income

- Monthly Premium Auto - Amount of money the customer pays on a monthly basis as a premium for their auto insurance coverage. It represents the recurring cost that the insured person must pay to maintain their insurance policy and receive coverage for potential damages, accidents, or other covered events related to their vehicle.

- Number of Open Complaints - Number of complaints the customer opened

- Policy Type - There are three type of policies in car insurance (Corporate Auto, Personal Auto, and Special Auto)

- Vehicle Class - Type of vehicle classes that customers have Two-Door Car, Four-Door Car SUV, Luxury SUV, Sports Car, and Luxury Car

- Total Claim Amount - the sum of all claims made by the customer. It represents the total monetary value of all approved claims for incidents such as accidents, theft, vandalism, or other covered events.

External Resources: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

## Challenge 1: Understanding the data

In this challenge, you will use pandas to explore a given dataset. Your task is to gain a deep understanding of the data by analyzing its characteristics, dimensions, and statistical properties.

- Identify the dimensions of the dataset by determining the number of rows and columns it contains.
- Determine the data types of each column and evaluate whether they are appropriate for the nature of the variable. You should also provide suggestions for fixing any incorrect data types.
- Identify the number of unique values for each column and determine which columns appear to be categorical. You should also describe the unique values of each categorical column and the range of values for numerical columns, and give your insights.
- Compute summary statistics such as mean, median, mode, standard deviation, and quartiles to understand the central tendency and distribution of the data for numerical columns. You should also provide your conclusions based on these summary statistics.
- Compute summary statistics for categorical columns and providing your conclusions based on these statistics.

In [21]:
#Import libraries that will be working with
import pandas as pd 
# Load dataset from an online source
url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv'
df_insurance = pd.read_csv(url)

In [22]:
#Dimensions of dataset (4008,11)
df_insurance.shape
print("Number of rows:", df_insurance.shape[0]) # Number of rows
print("Number of columns:", df_insurance.shape[1]) # Number of columns
print()
df_insurance.head()

Number of rows: 4008
Number of columns: 11

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323

In [23]:
df_insurance.tail()

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
4003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
#Determinate data types for each column 
df_insurance.columns

Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount'],
      dtype='object')

In [25]:
# Checking data types of each column
print(df_insurance.dtypes)

Customer                      object
ST                            object
GENDER                        object
Education                     object
Customer Lifetime Value       object
Income                       float64
Monthly Premium Auto         float64
Number of Open Complaints     object
Policy Type                   object
Vehicle Class                 object
Total Claim Amount           float64
dtype: object

In [26]:
#Fixing incorrect data types
df_insurance["Customer"]=df_insurance["Customer"].astype("category") #Because this is more an ID

In [27]:
df_insurance["Customer Lifetime Value"]=df_insurance["Customer Lifetime Value"].str.replace("%","").astype(float)

In [28]:
# Checking data types of each column
print(df_insurance.dtypes)

Customer                     category
ST                             object
GENDER                         object
Education                      object
Customer Lifetime Value       float64
Income                        float64
Monthly Premium Auto          float64
Number of Open Complaints      object
Policy Type                    object
Vehicle Class                  object
Total Claim Amount            float64
dtype: object

In [29]:
#Numbers for unique values of each columns
print("Number of unique values:")
print(df_insurance.nunique())
print()

Number of unique values:
Customer                     1071
ST                              8
GENDER                          5
Education                       6
Customer Lifetime Value      1027
Income                        774
Monthly Premium Auto          132
Number of Open Complaints       6
Policy Type                     3
Vehicle Class                   6
Total Claim Amount            761
dtype: int64

In [30]:
#Categorical data types
Categorical_variables=["ST","GENDER", "Education", "Policy Type", "Vehicle Class"]
print("\nCategorical variables are: ST,GENDER, Education, Policy Type, Vehicle Class \n All variables are categorical nominal, except Education which is ordinal variables")
for column in Categorical_variables :
    print(f"\n Values for {column}:")
    print(df_insurance[column].unique())
    print()

print("ST column-There are inconsistencies-should be standarized")
print("Gender column-There are inconsistencies-should be standarized")
print("Education column-Ordinal, also should be standarize education")
print("Policy Type column-There are missing values")
print("Vehicle Class-There are missing values")

Categorical variables are: ST,GENDER, Education, Policy Type, Vehicle Class
 All variables are categorical nominal, except Education which is ordinal variables

 Values for ST:
['Washington' 'Arizona' 'Nevada' 'California' 'Oregon' 'Cali' 'AZ' 'WA'
 nan]


 Values for GENDER:
[nan 'F' 'M' 'Femal' 'Male' 'female']


 Values for Education:
['Master' 'Bachelor' 'High School or Below' 'College' 'Bachelors' 'Doctor'
 nan]


 Values for Policy Type:
['Personal Auto' 'Corporate Auto' 'Special Auto' nan]


 Values for Vehicle Class:
['Four-Door Car' 'Two-Door Car' 'SUV' 'Luxury SUV' 'Sports Car'
 'Luxury Car' nan]

ST column-There are inconsistencies-should be standarized
Gender column-There are inconsistencies-should be standarized
Education column-Ordinal, also should be standarize education
Policy Type column-There are missing values
Vehicle Class-There are missing values

In [31]:
#Numerical variants and visualize them to define ordinal/nominal variables
numerical_variables = ["Customer Lifetime Value","Income","Monthly Premium Auto","Number of Open Complaints", "Total Claim Amount"]
print("Numerical variables SHOULD BE: \nCustomer Lifetime Value,\nIncome,\nMonthly Premium Auto,\nNumber of Open Complaints,\nTotal Claim Amount")
print("\nGOOD numerical variants for the moment: Income, Monthly Premium Auto,Total Claim Amount ")
#Summary statistics
df_insurance.describe()

Numerical variables SHOULD BE:
Customer Lifetime Value,
Income,
Monthly Premium Auto,
Number of Open Complaints,
Total Claim Amount

GOOD numerical variants for the moment: Income, Monthly Premium Auto,Total Claim Amount

,Customer Lifetime Value,Income,Monthly Premium Auto,Total Claim Amount
count,1.068000e+03,1071.000000,1071.000000,1071.000000
mean,7.936903e+05,39295.701214,193.234360,404.986909
std,6.434784e+05,30469.427060,1601.190369,293.027260
min,2.004351e+05,0.000000,61.000000,0.382107
25%,4.034080e+05,14072.000000,68.000000,202.157702
50%,5.881742e+05,36234.000000,83.000000,354.729129
75%,8.962872e+05,64631.000000,109.500000,532.800000
max,5.816655e+06,99960.000000,35354.000000,2893.239678

In [32]:
#Insights fron numerical columns
print("Customer Lifetime Value column-There are wrong stored in %")
print("Income column-There are people with NO income, should be fixed data...")
print("Monthly Premium Auto-There are some outliers like MAX value = 35354!")
print("Total Claim Amount column-Could have some outliers like MIN value =0.35")

Customer Lifetime Value column-There are wrong stored in %
Income column-There are people with NO income, should be fixed data...
Monthly Premium Auto-There are some outliers like MAX value = 35354!
Total Claim Amount column-Could have some outliers like MIN value =0.35

In [33]:
#Categorical statistics
for column in Categorical_variables :
    print(f"\n{column}:\n\n{df_insurance[column].describe()}")

ST:

count       1071
unique         8
top       Oregon
freq         320
Name: ST, dtype: object

GENDER:

count     954
unique      5
top         F
freq      457
Name: GENDER, dtype: object

Education:

count         1071
unique           6
top       Bachelor
freq           324
Name: Education, dtype: object

Policy Type:

count              1071
unique                3
top       Personal Auto
freq                780
Name: Policy Type, dtype: object

Vehicle Class:

count              1071
unique                6
top       Four-Door Car
freq                576
Name: Vehicle Class, dtype: object

In [34]:
#Insights from categorical columns
print("ST column- Oregon is the most frequent state, but careful with the NO standarization")
print("GENDER column- femenine gender represents more or less the half of the values, but also we should keep an eye on standarization ")
print("Education colum-Most of them have a bachelor degree, also keep an eye and do standarization to reduce to 4 values?¿ Difference between college and bachelor?¿")
print("Policy Type column-Only possible 3 values, most of the people hace the insurance for personal auto (f=780)")
print("Vehicle Class column-Quite consistency the data and values,half of the people have four-door assurances")

ST column- Oregon is the most frequent state, but careful with the NO standarization
GENDER column- femenine gender represents more or less the half of the values, but also we should keep an eye on standarization
Education colum-Most of them have a bachelor degree, also keep an eye and do standarization to reduce to 4 values?¿ Difference between college and bachelor?¿
Policy Type column-Only possible 3 values, most of the people hace the insurance for personal auto (f=780)
Vehicle Class column-Quite consistency the data and values,half of the people have four-door assurances

## Challenge 2: analyzing the data

### Exercise 1

The marketing team wants to know the top 5 less common customer locations. Create a pandas Series object that contains the customer locations and their frequencies, and then retrieve the top 5 less common locations in ascending order.

In [35]:
# Obtaining frequencies of locations
frequencies_location = df_insurance['ST'].value_counts()
print(f"\n {frequencies_location}")

 ST
Oregon        320
California    211
Arizona       186
Cali          120
Nevada         98
Washington     81
WA             30
AZ             25
Name: count, dtype: int64

In [36]:
#Sorting values 
less_common_locations=frequencies_location.sort_values()
print (less_common_locations)

ST
AZ             25
WA             30
Washington     81
Nevada         98
Cali          120
Arizona       186
California    211
Oregon        320
Name: count, dtype: int64

In [37]:
#Standarize States for getting the right info
df_insurance['ST'] = df_insurance['ST'].replace(['Cali'], 'California') 
df_insurance['ST'] = df_insurance['ST'].replace(['AZ'], 'Arizona') 
df_insurance['ST'] = df_insurance['ST'].replace(['WA'], 'Washington')

frequencies_location = df_insurance['ST'].value_counts()

print(f"{frequencies_location}")

ST
California    331
Oregon        320
Arizona       211
Washington    111
Nevada         98
Name: count, dtype: int64

In [38]:
#Sorting values 
less_common_locations=frequencies_location.sort_values()
print (less_common_locations)

ST
Nevada         98
Washington    111
Arizona       211
Oregon        320
California    331
Name: count, dtype: int64

### Exercise 2

The sales team wants to know the total number of policies sold for each type of policy. Create a pandas Series object that contains the policy types and their total number of policies sold, and then retrieve the policy type with the highest number of policies sold.

*Hint:*
- *Using value_counts() method simplifies this analysis.*
- *Futhermore, there is a method that returns the index of the maximum value in a column or row.*

In [46]:
# Obtaining frequencies of policies
frequencies_policy_type = df_insurance['Policy Type'].value_counts()
print(f"\n {frequencies_policy_type}")

#Obtaining maximum value
most_sold_policy_type=frequencies_policy_type.idxmax()
print("\nThe policy type with the highest number of policies sold is:", most_sold_policy_type)

 Policy Type
Personal Auto     780
Corporate Auto    234
Special Auto       57
Name: count, dtype: int64

The policy type with the highest number of policies sold is: Personal Auto

### Exercise 3

The sales team wants to know if customers with Personal Auto have a lower income than those with Corporate Auto. How does the average income compare between the two policy types?

- Use *loc* to create two dataframes: one containing only Personal Auto policies and one containing only Corporate Auto policies.
- Calculate the average income for each policy.
- Print the results.

In [48]:
# Create two different dataframes with .loc
df_personal_auto_customers=df_insurance.loc[df_insurance["Policy Type"]=="Personal Auto"]
df_corporate_auto_customers=df_insurance.loc[df_insurance["Policy Type"]=="Corporate Auto"]

#Average Income each policy type
avg_income_personal_auto_customers=df_personal_auto_customers["Income"].mean()
avg_income_corporate_auto_customers=df_corporate_auto_customers["Income"].mean()

#Print values
print(f"Average Income for Personal Auto policies: {avg_income_personal_auto_customers:.2f}")
print(f"Average Income for Corporate Auto policies: {avg_income_corporate_auto_customers:.2f}")

Average Income for Personal Auto policies: 38180.70
Average Income for Corporate Auto policies: 41390.31

### Bonus: Exercise 4

Your goal is to identify customers with a high policy claim amount.

Instructions:

- Review again the statistics for total claim amount to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount data.

*Note: When analyzing data, we often want to focus on certain groups of values to gain insights. Percentiles are a useful tool to help us define these groups. A percentile is a measure that tells us what percentage of values in a dataset are below a certain value. For example, the 75th percentile represents the value below which 75% of the data falls. Similarly, the 25th percentile represents the value below which 25% of the data falls. When we talk about the top 25%, we are referring to the values that fall above the 75th percentile, which represent the top quarter of the data. On the other hand, when we talk about the bottom 25%, we are referring to the values that fall below the 25th percentile, which represent the bottom quarter of the data. By focusing on these groups, we can identify patterns and trends that may be useful for making decisions and taking action.*

*Hint: look for a method that gives you the percentile or quantile 0.75 and 0.25 for a Pandas Series.*

*Hint 2: check `Boolean selection according to the values of a single column` in https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9*

In [50]:
# Review statistics for total claim amount
print("Summary statistics for Total Claim Amount:")
print(df_insurance["Total Claim Amount"].describe())

Summary statistics for Total Claim Amount:
count    1071.000000
mean      404.986909
std       293.027260
min         0.382107
25%       202.157702
50%       354.729129
75%       532.800000
max      2893.239678
Name: Total Claim Amount, dtype: float64

In [52]:
#Get the percentile Q3
percentile_Q3=df_insurance["Total Claim Amount"].quantile(0.75)
print(f"Start of the top 25% Total Claim Amounts: {percentile_Q3}")

Start of the top 25% Total Claim Amounts: 532.8

In [54]:
#Boolean selection to filter df
df_high_policy_claim_amount=df_insurance[df_insurance["Total Claim Amount"] > percentile_Q3]

     Customer          ST GENDER Education  Customer Lifetime Value   Income  \
1     QZ44356     Arizona      F  Bachelor                697953.59      0.0
2     AI49188      Nevada      F  Bachelor               1288743.17  48767.0
17    OE15005  California    NaN   College                394524.16  28855.0
23    TZ98966      Nevada    NaN  Bachelor                245019.10      0.0
26    US89481  California    NaN  Bachelor                394637.21      0.0
...       ...         ...    ...       ...                      ...      ...
1059  YG44474      Oregon      M   College               1401472.13  54193.0
1061  RY92647  California      F  Bachelor               1050677.17      0.0
1068  GS98873     Arizona      F  Bachelor                323912.47  16061.0
1069  CW49887  California      F    Master                462680.11  79487.0
1070  MY31220  California      F   College                899704.02  54230.0

      Monthly Premium Auto Number of Open Complaints     Policy Type  \
1                     94.0                    1/0/00   Personal Auto
2                    108.0                    1/0/00   Personal Auto
17                   101.0                    1/0/00   Personal Auto
23                    73.0                    1/3/00  Corporate Auto
26                   111.0                    1/0/00   Personal Auto
...                    ...                       ...             ...
1059                 117.0                    1/0/00  Corporate Auto
1061                  92.0                    1/0/00   Personal Auto
1068                  88.0                    1/0/00   Personal Auto
1069                 114.0                    1/0/00    Special Auto
1070                 112.0                    1/0/00   Personal Auto

      Vehicle Class  Total Claim Amount
1     Four-Door Car         1131.464935
2      Two-Door Car          566.472247
17              SUV          647.442031
23    Four-Door Car          554.376763
26    Four-Door Car          799.200000
...             ...                 ...
1059            SUV          720.752945
1061  Four-Door Car          546.524896
1068  Four-Door Car          633.600000
1069            SUV          547.200000
1070   Two-Door Car          537.600000

[264 rows x 11 columns]

In [57]:
#Summary statics
numeric_columns = df_high_policy_claim_amount.select_dtypes(include='number')
object_columns = df_high_policy_claim_amount.select_dtypes(include='object')

print("\nSummary statistics for high policy claim amounts in numerical columns:")
df_high_policy_claim_amount.describe()

,Customer Lifetime Value,Income,Monthly Premium Auto,Total Claim Amount
count,2.640000e+02,264.000000,264.000000,264.000000
mean,9.086868e+05,23677.344697,165.193182,782.228263
std,6.387678e+05,27013.483721,623.930992,292.751640
min,2.287597e+05,0.000000,63.000000,537.600000
25%,4.723958e+05,0.000000,99.000000,606.521741
50%,7.781768e+05,18807.000000,114.000000,679.597985
75%,1.054430e+06,42423.750000,133.250000,851.400000
max,3.844586e+06,99316.000000,10202.000000,2893.239678

In [61]:
#Categorical statistics
print("Summary statistics for high policy claim amounts in  categorical columns:")
for column in object_columns :
    print(f"\n{column}:\n\n{df_high_policy_claim_amount[column].describe()}")

Summary statistics for high policy claim amounts in  categorical columns:

ST:

count        264
unique         5
top       Oregon
freq          90
Name: ST, dtype: object

GENDER:

count     238
unique      5
top         F
freq      115
Name: GENDER, dtype: object

Education:

count          264
unique           5
top       Bachelor
freq            85
Name: Education, dtype: object

Number of Open Complaints:

count        264
unique         6
top       1/0/00
freq         206
Name: Number of Open Complaints, dtype: object

Policy Type:

count               264
unique                3
top       Personal Auto
freq                191
Name: Policy Type, dtype: object

Vehicle Class:

count     264
unique      6
top       SUV
freq      101
Name: Vehicle Class, dtype: object